@import "../../styles/partials/resets";
@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/fonts";

.worldPage{
    margin-top: 30px;
    padding: 24px;
    &__form{
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        &--search{
            padding: 6px 10px;
            outline: none;
            border: 2px solid gray;
            border-radius: 12px;           
        }
    }
}